<div class="clients-management">
  <div class="clients-management__header">
    <h1>{{ pageTitle }}</h1>
    <span class="clients-management__subtitle">{{ pageSubtitle }}</span>
  </div>
  <app-management-side-content-actions
    [headingLabel]="headingLabel"
    [headingSublabel]="headingSublabel"
    [isSearchVisible]="isSearchVisible"
    [isMainActionVisible]="isMainActionVisible"
    [mainActionButtonName]="mainActionButtonName"
    [mainActionButtonLabel]="mainActionButtonLabel"
    [buttonTypes]="ButtonTypes"
    (mainActionClickEmitter)="openAddClientModal()"
  />
  <app-table [contentToRender]="clients()" [isLoading]="isLoading">
    <ng-template appColumn key="clientName" title="Client Name" width="30%" let-item>
      <div class="clients-management__client-name-wrapper">
        <img
          class="clients-management__client-avatar"
          [src]="
            'https://ui-avatars.com/api/?name=' +
            item.firstName +
            '+' +
            item.lastName +
            '&background=CD503C&color=fff&size=128'
          "
          alt="Client Avatar"
        />
        <div class="clients-management__client-name-info">
          <p class="clients-management__client-name">{{ item.firstName }} {{ item.lastName }}</p>
          <span class="clients-management__client-email">{{ item.email }}</span>
        </div>
      </div>
    </ng-template>
    <ng-template appColumn key="phone" title="Phone" width="18%" let-item>
      <span class="clients-management__phone">{{ item.phone || '-' }}</span>
    </ng-template>
    <ng-template appColumn key="status" title="Status" width="15%" let-item>
      <span
        class="clients-management__status"
        [ngClass]="{
          'clients-management__status--active': item.status === 'active',
          'clients-management__status--inactive': item.status === 'inactive'
        }"
      >
        {{ item.status }}
      </span>
    </ng-template>
    <ng-template appColumn key="manager" title="Manager" width="20%" let-item>
      <span class="clients-management__manager">{{ item.managerName || 'N/A' }}</span>
    </ng-template>
    <ng-template appColumn key="gender" title="Gender" width="12%" let-item>
      <span class="clients-management__gender">{{
        item.gender ? (item.gender | titlecase) : '-'
      }}</span>
    </ng-template>
    <ng-template appColumn key="actions" width="5%" let-item>
      <div class="clients-management__actions" (click)="onMoreActionsClick($event, item)">
        <fa-icon [icon]="faEllipsisVertical" class="clients-management__actions-icon"></fa-icon>
      </div>
    </ng-template>
  </app-table>
</div>

<!-- Context Menu -->
<div
  *ngIf="showContextMenu"
  class="context-menu"
  [style.left.px]="contextMenuPosition.x"
  [style.top.px]="contextMenuPosition.y"
  (click)="$event.stopPropagation()"
>
  <div class="context-menu__item" (click)="onViewClient()">
    <fa-icon [icon]="faEye" class="context-menu__icon"></fa-icon>
    <span class="context-menu__text">View Details</span>
  </div>
  <div class="context-menu__item" (click)="onEditClient()">
    <fa-icon [icon]="faEdit" class="context-menu__icon"></fa-icon>
    <span class="context-menu__text">Edit Client</span>
  </div>
  <div class="context-menu__item context-menu__item--delete" (click)="onDeleteClient()">
    <fa-icon [icon]="faTrash" class="context-menu__icon context-menu__icon--delete"></fa-icon>
    <span class="context-menu__text">Delete</span>
  </div>
</div>

<!-- Backdrop to close menu -->
<div *ngIf="showContextMenu" class="context-menu-backdrop" (click)="hideContextMenu()"></div>

<!-- Client Modals -->
<div class="clients-management__client-modal-wrapper" *ngIf="showAddClientModal">
  <app-add-client
    (closeModalEmitter)="closeAddClientModal()"
    (onClientCreated)="onClientCreated()"
  />
</div>

<div class="clients-management__edit-client-modal-wrapper" *ngIf="showEditClientModal">
  <app-edit-client (closeModalEmitter)="closeEditClientModal()" [userId]="clientId" />
</div>
