@import '../../shared/styles/vars.scss';

:host {
    width: 15%;
}

.sidebar-dashboard-navigation {
    display: flex;
    flex-direction: column;

    height: 100%;

    padding-right: 25px;
    padding-top: 25px;
    
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__header-title {
        font-size: 24px;
        font-weight: 600;
    }

    &__header-version {
        font-size: 14px;
        font-weight: 400;
        color: #C7C7C7;
    }

    &__menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        flex: 1;
    }

    &__menu-list {
        list-style: none;

        margin-top: 40px;
        padding: 0;
    }

    &__menu-item-title {
        transition: all 0.3s ease;
    }

    &__menu-item {
        padding: 10px 0px 10px 15px;

        margin-bottom: 10px;

        transition: all 0.3s ease;

        &:hover {
            background-color: $lightGray;
            border-radius: 10px;

            cursor: pointer;

            transition: all 0.3s ease;

            .sidebar-dashboard-navigation__menu-item-icon {
                color: #CD503C;

                transition: all 0.3s ease;
            }
        }
        
        &--active {
            background-color: $lightGray;
            border-radius: 10px;

            .sidebar-dashboard-navigation__menu-item-icon {
                color: #CD503C;
            }
        }
    }

    &__menu-item-icon {
        margin-right: 10px;
    }

    .sidebar-dashboard-navigation__menu-item-icon {
        transition: all 0.3s ease;
    }
}