$primary: #CD503C;
$accent: #383838;
$accentHover: #444444;

$accentLight: #6D6D6D;
$lightGray: #EBEBEB;

$screen-xss-width: 600px;
$screen-xs-width: 768px;
$screen-md-width: 992px;
$screen-lg-width: 1200px;