@import '../../shared/styles/vars.scss';

.manager-form-footer {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  margin-top: 30px;

  &__button-cancel,
  &__button-confirm {
    font-size: 14px;
    position: relative;
  }
}

