@import '../../shared/styles/vars.scss';

.manager-form {
  padding: 35px;

  background-color: #fff;

  border-radius: 5px;

  border: 1px solid $lightGray;

  min-width: 825px;

  width: 100%;
  height: 100%;
}
