@import '../../shared/styles/vars.scss';

.client-form {
    display: flex;
    flex-direction: column;

    background-color: #fff;

    border-radius: 5px;
    padding: 35px;

    border: 1px solid $lightGray;

    min-width: 625px;

    width: 100%;
    height: 100%;

    &__header {
        margin-bottom: 30px;
    }
}