@import '../../shared/styles/vars.scss';

:host {
    display: flex;
    flex: 1;
}

.sign-up-form {
    flex-grow: 1;

    padding-bottom: 106px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__form-body {
        display: flex;
        flex-direction: column;
        align-items: center;

        max-width: 450px;

        width: 100%;
    }

    &__field {
        border: 2px solid $accentLight;

        border-radius: 5px;

        padding: 10px 0px 10px 20px;

        font-size: 18px;

        width: 100%;

        color: $accent;

        &::placeholder {
            color: $accentLight;
        }

        &--error {
            border-color: red;
        }
    }

    &__field-wrapper {
        display: flex;
        flex-direction: column;

        width: 100%;

        margin-bottom: 10px;
    }

    &__submit-btn {
        width: 100%;
        
        border: none;
        border-radius: 5px;

        margin-top: 10px;
        padding: 10px 0px;

        letter-spacing: 1px;

        font-size: 14px;

        background-color: $accent;

        color: #fff;

        transition: .2s ease-in-out;

        &:hover {
            background-color: $accentLight;

            transition: .2s ease-in;

            cursor: pointer;
        }
    }

    &__error-message {
        padding: 5px 0px 0px 10px;

        font-size: 12px;

        color: red;
    }

    &__passwords-wrapper {
        display: flex;

        gap: 15px;
    }

    &__password-container {
        width: 100%;
    }
}